.navbar{
    background-image: url("../img/blurbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
ul li{
    list-style: none;
    display: inline-block;
    float: right;
    margin: 50px;
}
.container .img{
    float: left;
}
h1{
    text-align: center;
}
h5{
    text-align: center;
}
form{
    text-align: center;
}
.row {
    justify-content: center;
}