body {
  background-image: url("../img/blurbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-image: url("../img/imagez.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
  margin: 50px;
  color: black;
}
.container .img {
  float: left;
}
h1 {
  text-align: center;
}
h5 {
  text-align: center;
}
form {
  text-align: center;
}
.row {
  justify-content: center;
}
.number {
  text-align: center;
}
.social-icons {
  float: right;
}
.row1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 50px;
  padding: 10px;
  align-content: center;
  margin-left: 300px;
}
.row2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 280px 280px 280px 280px;
    grid-gap: 50px;
    padding: 10px;
    margin-left: 300px;
  }
.pic1:hover {
  opacity: 0.4;
}
.pic2:hover {
  opacity: 0.4;
}
.pic3:hover {
  opacity: 0.4;
}
.pic4:hover {
  opacity: 0.4;
}
h5{
    text-align: center;
}
h2{
    text-align: center;
    text-justify: auto;
}
.footer{
    text-align: center;
}